:root {
  --BG: #000;
  --accent-color: #d23166;
  --main-color: #ffffff;
  --social-BG: rgba(255, 255, 255, 0.1);
  --social-text: #f2f2f2;
  --card-BG: #151515;
  --about-text: rgba(255, 255, 255, 0.2);
  --link-text: rgba(255, 255, 255, 0.8);
}

.container {
  width: 1268px;
  margin: 0 auto;
  padding: 10px 10px;
  /* outline: 1px solid red; */
}

body {
  background-color: var(--BG);
}

/* header */

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 95px;
}

.header-link {
  color: var(--main-color);
  text-align: justify;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.39;
}

.header-items {
  display: flex;
  gap: 15px;
}

.header-social {
  width: 36px;
  height: 36px;
  background-color: var(--social-BG);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* hero */

.hero .container {
  display: flex;
  gap: 73px;
  align-items: center;
}

.hero-text {
  align-self: stretch;
  color: var(--main-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
}

.hero-title {
  width: 587px;
  align-self: stretch;
  color: var(--main-color);
  font-family: Alexandria;
  font-size: 57px;
  font-weight: 400;
  line-height: 94%;
  letter-spacing: -4.013px;
  opacity: 0.9;
  margin-bottom: 16px;
}

.hero-span {
  color: var(--accent-color);
}

.hero-desk {
  color: var(--main-color);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.6;
  width: 578px;
  margin-bottom: 48px;
}

.hero-button {
  background-color: var(--accent-color);
  padding: 13px 50px;
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: none;
}

/* about */

.about {
  align-items: center;
  padding-top: 129px;
  padding-bottom: 105px;
}

.about .container {
  position: relative;
}

.about-text {
  margin: 0 auto;
  width: 1119px;
  color: var(--main-color);
  text-align: center;
  font-family: Alexandria;
  font-size: 57.33px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4.013px;
  opacity: 0.9;
}

.about-span {
  color: var(--about-text);
}

.about-milk {
  position: absolute;
  left: 42px;
  top: 112px;
}

.about-pistachio {
  position: absolute;
  top: -70px;
  right: 115px;
}

.about-strawberry {
  position: absolute;
  bottom: -45px;
  left: 50%;
}

/* product */

.product {
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.product-title {
  color: var(--main-color);
  font-size: 56px;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: -3.92px;
  opacity: 0.9;
}

.product-list {
  display: flex;
  gap: 18px;
  align-items: center;
}

.product-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--social-BG);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-wrap {
  display: flex;
  justify-content: space-between;
}

.product-item:last-child {
  transform: rotate(180deg);
}

.product-items {
  display: flex;
  gap: 20px;
  margin-top: 56px;
}

.product-elem {
  background: var(--card-BG);
  border-radius: 15px;
}

.product-wraper {
  padding: 24px 30px;
}

.product-caption {
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.product-text {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 28px;
}

.product-box {
  display: flex;
  gap: 5px;
  margin-bottom: 16px;
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
}

.product-price:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration-line: line-through;
  opacity: 0.7;
}

.product-button {
  padding: 15px 85px;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
}

/* order */

.order {
  padding-bottom: 60px;
  padding-top: 60px;
}

.order .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.order-div {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.order-title {
  margin-bottom: 16px;
  color: var(--main-color);
  font-size: 56px;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: -3.92px;
  opacity: 0.9;
}

.order-accent {
  color: var(--accent-color);
}

.order-text {
  margin-bottom: 64px;
  align-self: stretch;
  color: var(--main-color);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.6;
}

.order-item {
  color: var(--main-color);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-span {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.order-app {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* question */

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 223px;
  padding-top: 223px;
}

.question .container {
  width: 653px;
  align-items: center;
}

.question-title {
  width: 653px;
  align-self: stretch;
  color: var(--main-color);
  text-align: center;
  font-family: Alexandria;
  font-size: 57.33px;
  font-weight: 400;
  line-height: 94%;
  letter-spacing: -4.013px;
  opacity: 0.9;
  margin-bottom: 56px;
}

.question-span {
  color: var(--accent-color);
}

.question-form {
  width: 637px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1000px;
}

.question-btn {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;

  display: flex;
  width: 134px;
  padding: 28px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--accent-color);
  border: none;
}

.question-input {
  width: 637px;
  background: none;
  display: flex;
  padding: 29px 30px;
  align-items: center;
  gap: 10px;
  position: absolute;
  border-radius: 100px;
  border: 1px solid var(--main-color);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

/* footer */

.footer {
  background: var(--card-BG);
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer .container {
  display: flex;
  gap: 176px;
  align-items: flex-start;

}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 212px;
  align-items: flex-start;
}

.footer-text {
  align-self: stretch;
  color: var(--main-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 139.687%;
  letter-spacing: 0.14px;
  opacity: 0.7;
}

.footer-items {
  display: flex;
  gap: 15px;
}

.footer-social {
  width: 36px;
  height: 36px;
  background-color: var(--social-BG);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: end;
  gap: 176px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  align-self: stretch;
  color: var(--main-color);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 33px;
}

.footer-item {
  color: var(--link-text);
  text-align: justify;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.footer-a {
  color: var(--link-text);
  text-align: justify;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
